@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@400;700&display=swap');
//color schemes
$rich-black:#121619;
$black-navy:#053742;
$blue:#39A2DB;
$navy: #A2DBFA;
$gold-crayola: #E5C687;
$winter: #E8F0F2;
$white: #fff;
//font family
$anton: 'Anton',
sans-serif;
$ubuntu: 'Ubuntu',
sans-serif;
//breakpoints