                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    scroll-behavior: smooth;
                    overflow-x: hidden;
                }
                
                body {
                    background-color: $winter;
                    font-family: $ubuntu;
                    color: $black-navy;
                    letter-spacing: 1px;
                    font-size: 62.5%;
                }
                
                .container {
                    width: 90%;
                    margin: 0 auto;
                }